/*add css for body, changing background and font colour.*/
body {
    font-family:cursive;
    background-color:darkgoldenrod;
}

label{
    font-size: 40px;
    color:darkblue;
    float:inherit;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
textarea{
    fill:azure
}

